doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='Description' content='Личный блог Типотека')
  title Типотека
  link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.min.css')
body(style='height: 1050px;')
  .wrapper-color
    include partials/header-alt.pug
    main
      section
        .popup.popup--new-publication.popup--anti
          .new-publication
            form(action='/articles/add' method='post' enctype='multipart/form-data')
              .new-publication__header
                h1 Новая публикация
                .new-publication__date-form
                  h3 Дата публикации
                  .new-publication__date-form-division
                    .new-publication__date-block
                      label(for='new-publication-date', aria-label='Календарь')
                      input#new-publication-date(type='text', name='date', placeholder='2019-03-21')
                button.new-publication__button.button.button--colored(type='submit') Опубликовать
              a.popup__button.button.button--popup-close(aria-label='Закрыть окно') Закрыть окно
              .new-publication__form.form
                .form__wrapper.form__wrapper--intro
                  .form__field
                    label
                      input(type='text', name='title', placeholder='Заголовок', required)
                  .form__field.form__field--post-image
                    label
                      input#image-name-field(type='text', name='photo', placeholder='Фотография', readonly)
                    .form__image-loader.form__image-loader--publication
                      label
                        input.visually-hidden(type='file', name='upload')
                        | Обзор
                  .new-publication__category-wrapper
                    each category, index in categories
                      .new-publication__checkbox.new-publication__checkbox--auto
                        input(id=`category${index}`, type='checkbox', name='category', value=`${category}`)
                        label(for=`category${index}`) #{category}
                    a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
                .form__wrapper.form__wrapper--text
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='5', name='announcement', placeholder='Анонс публикации')
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='10', name='full-text', placeholder='Полный текст публикации')
    include partials/footer.pug
    script(src="/js/vendor.js")
    script(src="/js/main.js")
