doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='Description' content='Личный блог Типотека')
  title Типотека
  link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.min.css')
body
  .wrapper-color
    include partials/header-alt.pug
    main
      section.search-page
        .search-page__wrapper
          h1 Поиск
          .search.search-page__form
            form(action='/search' method='get')
              label
                input(type='text' placeholder='Что ищем?' name='search' value='Путешествия')
              button.search__button.button.button--transparent(type='submit') Найти
            each result in results
              .search__result
                time.search__date(datetime='2019-03-21T20:33') #{result.publicationDate}
                a.search__link #{result.announce}
    include partials/footer.pug
    script(src="/js/vendor.js")
    script(src="/js/main.js")
